/* BACKGROUND IMAGE */ 
div #water {
  background-image: url(../Images/wedding-water.jpg); 
  background-position: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll; 
  background-clip:content-box; 
  height: 800px /*1650px */; 
  width: 1440px /*1460px */; 
}

/* NAVIGATION BAR */ 
nav a {
  color: rgba(254, 249, 244,1); 
  text-decoration: none; 
}

