/* MEDIA QUERIES */

@media only screen and (max-width: 960px) {
}

/* BACKGROUND IMAGE */ 


body {
  background-image: url(../Images/wedding-water.jpg); 
  background-size: 1440px 826px;
  background-repeat: no-repeat;
  max-width: 100%; 
  margin-left: 60px; 
}
/* html {
  margin: 40px; 
} */

/* NAVIGATION BAR */ 
#navbar {
    border: 1px solid #555;
    width: 10%; 
    text-align: left; 
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}


nav a {
  color: rgba(254, 249, 244,1); 
  text-decoration: none;
  display: block; 
  text-align: center;
  border-bottom: 1px solid #555;
}

